@use "../abstracts/" as *;

@mixin banner($position) {
  position: $position;
  height: 100px;
  width: 100vw;
  z-index: 10;
}

@mixin flex($type) {
  display: $type;
  justify-content: center;
  align-items: center;
}

@mixin flexCenter {
  align-content: center;
}

@mixin primaryButton($primary, $secondary) {
  width: 100%;
  height: fit-content;
  font-size: 2rem;
  background-color: $secondary;
  border: solid $primary 2px;
  color: $primary;

  &:hover {
    color: $secondary;
    background-color: $primary;
    border: solid $secondary 2px;
    cursor: pointer;
  }

}

@mixin secondaryButton($color) {
  width: 100%;
  height: fit-content;
  margin: 5px;
  font-size: 2rem;
  border: solid $color 2px;

}