html {
  margin: 0;
}

body {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
}

button :hover {
  cursor: pointer;
}

#root {
  position: relative;
}

.card {
  background-color: greenyellow;
  width: 20%;
  height: 20%;
}

.cart {
  background-color: orange;
  width: 10%;
  height: 10%;
}

.profile-image {
  width: 30px;
}

.initial {
  position: relative;
  display: flex;
  justify-content: center;
}

.header {
  z-index: 1;
  position: absolute;
}

.carousel-image {
  position: absolute;
  z-index: 0;
  margin: 0 0 10px 0;
  min-height: 100vh;
  max-height: fit-content;
}

.header-banner {
  z-index: 2;
  margin: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  width: 100vw;
  height: 100px;
  background-color: rgb(48, 51, 48);
}

.header-banner-text {
  font-size: 3rem;
  color: white;
}

.footer-banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75% 0 0 0;
  z-index: 1;
  width: 100vw;
  height: 100px;
  background-color: rgb(48, 51, 48);
}

.footer-banner-text {
  font-size: 1.5rem;
  color: white;
}