body {
  width: 100%;
  height: auto;
  margin: 0;
}

button :hover {
  cursor: pointer;
}

#root {
  position: relative;
}

.card {
  background-color: greenyellow;
  width: 20%;
  height: 20%;
}

.cart {
  background-color: orange;
  width: 10%;
  height: 10%;
}

.profile-image {
  width: 30px;
}

.header {
  position: relative;
  top: 0%;
  width: 100vw;
  height: 100px;
  background-color: green;
}

.footer {
  width: 100vw;
  height: 100px;
  background-color: green;
}