@use "../abstracts/" as *;
@use "../pieces/" as p;

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
}

.header-banner {
  @include p.banner(fixed);
  @include p.flex(flex);
  background-color: $foundationColor;
  
  .header-banner-text {
    @include p.flexCenter();
    font-size: $headingSize;
    color: $textColor;  
  }
}

.menu-button {
  position: absolute;
  left: 15%;
  background-color: $foundationColor;
  width: 40px;
  height: 40px;
  color: $textColor;
  border: solid 1px $textColor;

  &:hover {
    background-color: $accentColor;
    color: $foundationColor;
    cursor: pointer;
  }

}

.menu {
  position: absolute;
  left: 0%;
  top: 100px;
  @include p.flex(flex);
  align-self: flex-start;
  flex-direction: column;
  row-gap: 20px; 
  min-width: 300px;
  padding: 10px 10px;
  min-height: fit-content;
  background-color: $foundationColor;

    .menu-header {
      font-size: $headingSize;
      color: $textColor;
    }
  
    button {
      @include p.primaryButton;
      background-color: $foundationColor;
      border: solid $textColor 2px;
      color: $textColor;

      &:hover {
        background-color: $textColor;
        color: $foundationColor;
        cursor: pointer;
      }
  }
}

.footer-banner {
  @include p.banner(absolute);
  bottom: 0;
  left: 0;
  @include p.flex(flex);
  background-color: $foundationColor;

  .footer-banner-text {
    @include p.flexCenter();
    font-size: 1rem;
    color: $textColor;
  }
}