@use "../pieces/" as p;
@use "../abstracts/" as *;


.grow {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid: repeat(5, 1fr) / repeat(12, 1fr);

  .grow-header {
    grid-column: 3/9;
    grid-row: 1/2;
    margin-top: 100px;
  }
}

.carousel-container {
  background-color: $foundationColor;
  grid-column: 3/10;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
}

#grow-carousel {
  @include p.flex(flex);
  max-height: 50vh;

  img {
    height: 25vh;
    width: 25vw;
  }

}

.calculator-container {
  grid-column: 3/9;
  grid-row: 3/4;
}

.growth-calculator {
  margin: 5px;

  button {
    @include p.secondaryButton($foundationColor); 
    background-color: $foundationColor;
    color: $textColor;
    font-size: $bodySize;
  }

  :hover {
    background-color: $textColor;
    color: $foundationColor;
  }

}

.growth-capacity-display {
  max-width: 75vw;
  max-height: 50vh;  

  & h1 {
    font-size: 2rem;
  }
}