@use "../pieces/" as p;
@use "../abstracts/" as *;

.initial {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  
  button {
    background-color: $blockColor;
    border: solid $foundationColor;
    color: $foundationColor;
    font-size: $bodySize;
    padding: 20px;
  }

  .buttons {
    @include p.flex(flex);
    @include p.flexCenter();
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 30%;
  }

  .left-button {
    margin: auto 50px auto auto;
  }

  .right-button {
    margin: auto auto auto 50px;
  }
}

.carousel-buttons {
  @include p.flex(flex);
  justify-content: space-between;
  @include p.flexCenter();
  margin-left: 10vw;
  width: 80vw;
  z-index: 1;
  position: absolute;
  top: 10%;

  .leftward-button {
    top: 10%;
    left: 15%;
  }
  .rigthward-button {
    top: 10%;
    right: 15%;
  }
}

.header {
  @include p.flex(flex);
  position: relative;
  top: 150px;
  height: 100px;
  z-index: 1;
}

.carousel-image {
  width: 100%;
  height: 100%;
  z-index: 0;
}