@use "../pieces/" as p;
@use "../abstracts/" as *;

.initial {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 75% 1fr;
  grid-template-rows: repeat(1fr, auto);
  
  button {
    background-color: transparent;
    border: solid $foundationColor;
    color: $foundationColor;
    font-size: $bodySize;
    padding: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  .buttons {
    @include p.flex(flex);
    @include p.flexCenter();
    z-index: 1;
    grid-column: 2/3;
    width: 100%;
    position: absolute;
    top: 25%;
    left: 0%;
  }

  .left-button {
    margin: auto 50px auto auto;
    color: $accentColor;

    &:hover {
      box-shadow: inset 0 0 0 5px $accentColor;
    }
  }

  .right-button {
    margin: auto auto auto 50px;
    color: $accentColor;

    &:hover {
      box-shadow: inset 0 0 0 5px $accentColor;
    }
  }
}

.carousel-buttons {
  @include p.flex(flex);
  justify-content: space-evenly;
  @include p.flexCenter();
  margin-left: 10vw;
  width: 80vw;
  z-index: 1;
  position: absolute;
  top: 10%;

  .leftward-button {
    top: 10%;
    left: 15%;
    font-size: 3rem;
    background-color: transparent;
    border: none;

    &:hover {
      color: $textColor;
    }
  }
  .rightward-button {
    top: 10%;
    right: 15%;
    font-size: 3rem;
    background-color: transparent;
    border: none;

    &:hover {
      color: $textColor;
    }
  }
}

@keyframes fadeAway {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.greeting {
  position: absolute;
  top: 0%;
  right: 37%;
  width: fit-content;
  grid-column: 2/3;
  z-index: 10;
  animation: fadeAway 0s ease-in 3s;
  animation-fill-mode: forwards;

  p {
    font-size: $smallFont;
    color: $textColor;
  }

  &.hide {
    display: none;
  }
}

.carousel-image {
  grid-column: 1/4;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
}
