@use "../pieces/" as p;
@use "../abstracts/" as *;


.shop {
  padding: 10%;

  .shop-main {
    padding: 100px 25px 100px 25px;
    position: relative;
  }
}

.shop-header {


  .shop-header-image {
    z-index: 0;
   }

  .shop-header-text {
    z-index: 1;
    color: $foundationColor;
    font-size: $bodySize;
  }
}

.cart-container {
  position: fixed;
  top: 10%;
  right: 0%;
  background-color: $foundationColor;
  padding: 5px 20px 20px 20px;
}

.shopping-cart {
  font-size: $bodySize;
  color: $textColor;
}

.user-sustainable-practices {
  color: $textColor;
}

.product-tile-holder {
  @include p.flex(flex);
  flex-direction: row;
  flex-wrap: wrap;

  .product-tile {
    margin: 25px 25px;
    border: solid $foundationColor 2px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;

    & h1 {
    font-size: 1rem;
    }

    & button {
      @include p.primaryButton($textColor, $foundationColor);
    }

  }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); color: $textColor;}
 80% { transform: rotate(0deg); color: $textColor;}
 85% { transform: rotate(5deg); color: $templateGreen;}
 95% { transform: rotate(-5deg); color: $templateGreen;}
100% { transform: rotate(0deg); color: $textColor;}
}

.wiggly {
  animation: wiggle 2.5s infinite;
}