@use "../pieces/" as p;
@use "../abstracts/" as *;

.shop {
  padding: 10%;

  .shop-main {
    padding: 100px 25px 100px 25px;
    position: relative;
  }
}

.shop-header {
  .shop-header-image {
    z-index: 0;
  }

  .shop-header-text {
    z-index: 1;
    color: $foundationColor;
    font-size: $bodySize;
  }
}

.cart-container {
  position: fixed;
  top: 100px;
  right: 0%;
  background-color: $foundationColor;
  padding: 5px 20px 20px 20px;
}

.cart-label {
  .label-text {
    font-size: $bodySize;
    color: $textColor;
  }
}

.shopping-cart {
  position: relative;
}

.cart-icon {
  position: relative;
  color: $textColor;
}

.cart-count {
  margin: 0;
  position: absolute;
  bottom: 70%;
  left: 10.5%;
  color: $templateGreen;
  font-size: 1rem;
}

.user-sustainable-practices {
  color: $textColor;
}

.product-tile-holder {
  @include p.flex(flex);
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;

  .product-tile {
    margin: 25px 25px;
    border: 12px double $foundationColor;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 30vw;

    & h1 {
      font-size: 2rem;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    & button {
      @include p.primaryButton($textColor, $foundationColor);
    }

    & img {

      max-width: 400px;
    }

  }
}


@keyframes wiggle {
  0% {
    transform: rotate(0deg);
    color: $textColor;
  }
  25% {
    transform: rotate(5deg);
    color: $templateGreen;
  }
  50% {
    transform: rotate(-5deg);
    color: $templateGreen;
  }
  75% {
    transform: rotate(5deg);
    color: $templateGreen;
  }
  100% {
    transform: rotate(0deg);
    color: $textColor;
  }
}

.wiggle {
  animation: wiggle 0.4s 1;
}
