@use "../pieces/" as p;
@use "../abstracts/" as *;


.shop {
  margin: 0 0;
  position: relative;
  top: 100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 100vh);

  main {
    grid-column: 2/11;
    grid-row: 2;
  }
}

.shop-header {
  position: relative;
  grid-column: 1/13;
  grid-row: 1;

  .shop-header-image {
    position: absolute;
    width: 50vw;
    height: 50vh;
    z-index: 0;
   }

  .shop-header-text {
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: 1;
    color: $foundationColor;
    font-size: $bodySize;
  }
}

.shopping-cart {
  font-size: $bodySize;
}

.product-tile-holder {
  @include p.flex(flex);
  flex-direction: row;
  flex-wrap: wrap;

  .product-tile {
    margin: 25px 25px;
    border: solid $foundationColor 2px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;

    & h1 {
    font-size: 1rem;
    }

    & button {
      @include p.primaryButton($textColor, $foundationColor);
    }

  }
}
