/* Error: Missing argument $primary.
 *    ,--> src\styles\scss\views\_constant.scss
 * 59 |       @include p.primaryButton;
 *    |       ^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *    '
 *    ,--> src\styles\scss\pieces\_mixins.scss
 * 19 | @mixin primaryButton($primary, $secondary) {
 *    |        =================================== declaration
 *    '
 *   src\styles\scss\views\_constant.scss 59:7  primaryButton()
 *   src\styles\scss\views\_constant.scss 59:7  @forward
 *   src\styles\scss\views\_index.scss 1:1      @use
 *   src\styles\scss\App.scss 1:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $primary.\a    \250c \2500 \2500 > src\\styles\\scss\\views\\_constant.scss\a 59 \2502        @include p.primaryButton;\d\a    \2502        ^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a    \2575 \a    \250c \2500 \2500 > src\\styles\\scss\\pieces\\_mixins.scss\a 19 \2502  @mixin primaryButton($primary, $secondary) {\d\a    \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   src\\styles\\scss\\views\\_constant.scss 59:7  primaryButton()\a   src\\styles\\scss\\views\\_constant.scss 59:7  @forward\a   src\\styles\\scss\\views\\_index.scss 1:1      @use\a   src\\styles\\scss\\App.scss 1:1               root stylesheet";
}
