body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
}

.header-banner {
  position: fixed;
  height: 100px;
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333232;
}
.header-banner .header-banner-text {
  align-content: center;
  font-size: 3rem;
  color: white;
}

.menu-button {
  position: absolute;
  left: 15%;
  background-color: #333232;
  width: 40px;
  height: 40px;
  color: white;
  border: solid 1px white;
}
.menu-button:hover {
  background-color: #fffdf0;
  color: #333232;
  cursor: pointer;
}

.menu {
  position: absolute;
  left: 0%;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  flex-direction: column;
  row-gap: 20px;
  min-width: 300px;
  padding: 10px 10px;
  min-height: fit-content;
  background-color: #333232;
}
.menu .menu-header {
  font-size: 3rem;
  color: white;
}
.menu button {
  width: 100%;
  height: fit-content;
  font-size: 2rem;
  background-color: #333232;
  border: solid white 2px;
  color: white;
  border: solid white 2px;
}
.menu button:hover {
  color: #333232;
  background-color: white;
  border: solid #333232 2px;
  cursor: pointer;
}

.footer-banner {
  position: absolute;
  height: 100px;
  width: 100vw;
  z-index: 10;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333232;
}
.footer-banner .footer-banner-text {
  align-content: center;
  font-size: 1rem;
  color: white;
}

.initial {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 75% 1fr;
  grid-template-rows: repeat(1fr, auto);
}
.initial button {
  background-color: transparent;
  border: solid #333232;
  color: #333232;
  font-size: 1.5rem;
  padding: 20px;
}
.initial button:hover {
  cursor: pointer;
}
.initial .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 1;
  grid-column: 2/3;
  width: 100%;
  position: absolute;
  top: 25%;
  left: 0%;
}
.initial .nav-button {
  margin: auto 50px auto 50px;
  color: #fffdf0;
}
.initial .nav-button:hover {
  box-shadow: inset 0 0 0 5px #fffdf0;
}
.initial .carousel-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  margin-left: 10vw;
  width: 80vw;
  z-index: 1;
  position: absolute;
  top: 10%;
}
.initial .carousel-buttons .leftward-button {
  top: 10%;
  left: 15%;
  font-size: 3rem;
  background-color: transparent;
  border: none;
}
.initial .carousel-buttons .leftward-button:hover {
  color: white;
}
.initial .carousel-buttons .rightward-button {
  top: 10%;
  right: 15%;
  font-size: 3rem;
  background-color: transparent;
  border: none;
}
.initial .carousel-buttons .rightward-button:hover {
  color: white;
}
@keyframes fadeAway {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.initial .greeting {
  position: absolute;
  top: 0%;
  right: 37%;
  width: fit-content;
  grid-column: 2/3;
  z-index: 10;
  animation: fadeAway 0s ease-in 3s;
  animation-fill-mode: forwards;
}
.initial .greeting p {
  font-size: 1rem;
  color: white;
}
.initial .greeting.hide {
  display: none;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.initial .carousel-image {
  grid-column: 1/4;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  animation: fadeIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.initial .dark-text {
  color: #333232;
}
.initial .dark-text:hover {
  box-shadow: inset 0 0 0 5px #333232;
}

.grow {
  position: relative;
  padding-top: 100px;
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid: repeat(1, 1fr)/repeat(12, 1fr);
}
.grow .grow-header {
  grid-column: 3/9;
  grid-row: 1/2;
  margin-top: 100px;
}

.carousel-container {
  background-color: #333232;
  grid-column: 3/10;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
}

#grow-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50vh;
}
#grow-carousel img {
  height: 25vh;
  width: 25vw;
}

.calculator-container {
  grid-column: 4/10;
  grid-row: 1/2;
}

.growth-calculator {
  margin: 5px;
}
.growth-calculator button {
  width: 100%;
  height: fit-content;
  margin: 5px;
  font-size: 2rem;
  border: solid #333232 2px;
  background-color: #333232;
  color: white;
  font-size: 1.5rem;
}
.growth-calculator :hover {
  background-color: white;
  color: #333232;
  cursor: pointer;
}
.growth-calculator h3 {
  font-size: 2rem;
}

.questions {
  font-size: 3rem;
}

.growth-capacity-display {
  max-width: 75vw;
  max-height: 50vh;
}
.growth-capacity-display h1 {
  font-size: 2rem;
}

.shop {
  padding: 5%;
}
.shop .shop-main {
  padding: 100px 25px 100px 25px;
  position: relative;
}

.shop-header .shop-header-image {
  z-index: 0;
}
.shop-header .shop-header-text {
  z-index: 1;
  color: #333232;
  font-size: 1.5rem;
}

.cart-container {
  position: fixed;
  top: 100px;
  right: 0%;
  background-color: #333232;
  padding: 5px 20px 20px 20px;
}

.cart-label .label-text {
  font-size: 1.5rem;
  color: white;
}

.shopping-cart {
  position: relative;
}

.cart-icon {
  position: relative;
  color: white;
}

.cart-count {
  margin: 0;
  position: absolute;
  bottom: 70%;
  left: 10.5%;
  color: white;
  font-size: 1rem;
}

.user-sustainable-practices {
  color: white;
}

.product-tile-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
.product-tile-holder .product-tile {
  margin: 25px 25px;
  border: 12px double #333232;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  max-width: 30vw;
}
.product-tile-holder .product-tile h1 {
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.product-tile-holder .product-tile button {
  width: 100%;
  height: fit-content;
  font-size: 2rem;
  background-color: #333232;
  border: solid white 2px;
  color: white;
}
.product-tile-holder .product-tile button:hover {
  color: #333232;
  background-color: white;
  border: solid #333232 2px;
  cursor: pointer;
}
.product-tile-holder .product-tile img {
  overflow: hidden;
  max-width: 400px;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
    color: white;
  }
  25% {
    transform: rotate(5deg);
    color: #397a4a;
  }
  50% {
    transform: rotate(-5deg);
    color: #397a4a;
  }
  75% {
    transform: rotate(5deg);
    color: #397a4a;
  }
  100% {
    transform: rotate(0deg);
    color: white;
  }
}
.wiggle {
  animation: wiggle 0.4s 1;
}

@media only screen and (max-width: 760px) {
  .shop {
    padding: 200px 0;
  }
  .shop .shop-main {
    padding: 0;
    position: relative;
  }

  .cart-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 100px;
    right: 12%;
    background-color: #333232;
    padding: 5px 10px;
  }

  .cart-label .label-text {
    margin: 0 0;
    font-size: 1rem;
    color: white;
  }

  .shopping-cart {
    position: relative;
    padding: 10px;
  }

  .cart-icon {
    position: relative;
    top: 5%;
    color: white;
  }

  .cart-count {
    margin: 0;
    position: relative;
    bottom: 85%;
    left: 100%;
    color: white;
    font-size: 1rem;
  }

  .product-tile-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100vw;
  }
  .product-tile-holder .product-tile {
    margin: 10px 10px;
    border: 12px double #333232;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 75%;
  }
  .product-tile-holder .product-tile h1 {
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .product-tile-holder .product-tile button {
    width: 100%;
    height: fit-content;
    font-size: 2rem;
    background-color: #333232;
    border: solid white 2px;
    color: white;
  }
  .product-tile-holder .product-tile button:hover {
    color: #333232;
    background-color: white;
    border: solid #333232 2px;
    cursor: pointer;
  }
  .product-tile-holder .product-tile img {
    overflow: hidden;
    max-width: 60vw;
  }
}
.login-register {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #333232;
  z-index: 5;
}

/*# sourceMappingURL=App.css.map */
